<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cadastro de Usuário</title>

    <!-- Custom fonts for this template-->
    <link href="../static/css/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">CADASTRO DE USUÁRIO!</h1>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Primeiro Nome:</label> 
                                </div>
                                <div class="col-sm-4">
                                    <label>Último Nome:</label> 
                                </div>
                                <div class="col-sm-4">
                                    <label>Data de Nascimento:</label> 
                                </div>
                            </div>
                            <form class="user">
                                <div class="form-group row">
                                    <div class="col-sm-4 mb-3 mb-sm-0">
                                        <input type="text" class="form-control" id="exampleFirstName"
                                            placeholder="Digite o seu primeiro nome">
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="exampleLastName"
                                            placeholder="Digite o seu último nome">
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="date" class="form-control" id="exampleLastName"
                                            placeholder="Digite a sua data de nascimento">
                                    </div>
                                </div>
                                <!-- Select Basic -->
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label>Estado:</label> 
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Cidade:</label> 
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Telefone:</label> 
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <select name="state" class="form-control" placeholder="Escolha o seu estado">
                                                <option value="">Escolha seu Estado</option>
                                                <option>Acre</option>
                                                <option>Alagoas</option>
                                                <option>Amapá</option>
                                                <option>Amazonas</option>
                                                <option>Bahia</option>
                                                <option>Ceará</option>
                                                <option>Distrito Federal</option>
                                                <option>Espírito Santo</option>
                                                <option>Goiás</option>
                                                <option>Maranhão</option>
                                                <option>Mato Grosso</option>
                                                <option>Mato Grosso do Sul</option>
                                                <option>Minas Gerais</option>
                                                <option>Paraná</option>
                                                <option>Paraíba</option>
                                                <option>Pará</option>
                                                <option>Pernambuco</option>
                                                <option>Piauí</option>
                                                <option>Rio Grande do Norte</option>
                                                <option>Rio Grande do Sul</option>
                                                <option>Rio de Janeiro</option>
                                                <option>Rondônia</option>
                                                <option>Roraima</option>
                                                <option>Santa Catarina</option>
                                                <option>Sergipe</option>
                                                <option>São Paulo</option>
                                                <option>Tocantins</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 mb-3 mb-sm-0">
                                        <input type="text" class="form-control" id="city"
                                            placeholder="Digite a sua cidade">
                                    </div>
                                    <div class="col-sm-4 mb-3 mb-sm-0">
                                        <input type="text" class="form-control" id="phone"
                                            placeholder="(99) 99999-9999">
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label>E-mail:</label> 
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Password:</label> 
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Repeat-Password:</label> 
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <input type="email" class="form-control" id="exampleInputEmail"
                                        placeholder="Email Address">
                                    </div>
                                    <div class="col-sm-4 mb-3 mb-sm-0">
                                        <input type="password" class="form-control"
                                            id="exampleInputPassword" placeholder="Password">
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="password" class="form-control"
                                            id="exampleRepeatPassword" placeholder="Repeat Password">
                                    </div>
                                </div>
                                
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-md-4">
                                            <a href="{{ url_for('login') }}" class="btn btn-primary btn-user btn-block">
                                                Criar conta
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- <hr>
                                <a href="index.html" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with Google
                                </a>
                                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                </a> -->
                            </form>
                            <hr>
                            <!-- <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div> -->
                            <div class="text-center">
                                <a class="small" href="{{ url_for('login') }}">Já tem uma conta? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../static/css/vendor/jquery/jquery.min.js"></script>
    <script src="./static/css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="./static/css/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../static/js/sb-admin-2.min.js"></script>

</body>

</html>